target/
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.gradle/
.nb-gradle/
bin/
file/
out/
logs/
gen-java/
.externalToolBuilders/
dependency-reduced-pom.xml
nohup.out
/tmp
disconf/
*/test/*